.nav {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 20px;
}

.navLink {
  font-size: 1rem;
  font-weight: 700;
  color: #222;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  transition: color 200ms linear;
  will-change: color;
}

.navLinkActive,
.navLink:hover {
  color: #955fff;
}

.navLinkActive {
  border-bottom-color: #955fff;
}
